@page "/board"
@attribute [Authorize]
@inject HttpClient client

<div class="row justify-content-center">
    <p class="h1">Board</p>
</div>
<div class="row">
    <div class="col-lg-4">
        <input type="text" class="form-control mb-3" placeholder="Enter a new todo item" @bind-value="NewTodoTitleInput" @onfocusout="AddTodoItem" />
    </div>
</div>
<div class="d-lg-none d-xl-none">
    <div class="col">
        <div class="row">
            <div class="input-group mb-3">
                <select class="form-control" @bind="SelectedTaskStatusFilter">
                    @foreach (string option in TaskStatusOptions.List)
                    {
                        <option>@option</option>
                    }
                    <option>None</option>
                </select>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" @onclick="FilterByTaskStatus">Filter</button>
                </div>
            </div>
        </div>
        @foreach (TodoItem todoItem in TodoItems)
        {
            <TodoItemBox TodoItem="todoItem" UpdateTodoItemList="GetTodoItems" />
        }
    </div>
</div>
<div class="d-none d-lg-block d-xl-block">
    <div class="row">
        <div class="col">
            <p>New</p>
            @foreach(TodoItem todoItem in TodoItems.Where(x => x.Status == "New"))
            {
                <TodoItemBox TodoItem="todoItem" UpdateTodoItemList="GetTodoItems" />
            }
        </div>
        <div class="col">
            <p>Doing</p>
            @foreach (TodoItem todoItem in TodoItems.Where(x => x.Status == "Doing"))
            {
                <TodoItemBox TodoItem="todoItem" UpdateTodoItemList="GetTodoItems" />
            }
        </div>
        <div class="col">
            <p>Done</p>
            @foreach (TodoItem todoItem in TodoItems.Where(x => x.Status == "Done"))
            {
                <TodoItemBox TodoItem="todoItem" UpdateTodoItemList="GetTodoItems" />
            }
        </div>
    </div>
</div>

@code{

    private List<TodoItem> TodoItems = new List<TodoItem>();
    private string NewTodoTitleInput;
    private string NewTodoDescription;
    private string SelectedTaskStatusFilter;

    protected async override Task OnInitializedAsync()
    {
        await GetTodoItems();
        await base.OnInitializedAsync();
    }

    public async Task GetTodoItems()
    {
        HttpResponseMessage response = await client.GetAsync(Constants.ApiRoutes.TodoItemList);
        if (response.IsSuccessStatusCode)
        {
            TodoItems = JsonConvert.DeserializeObject<List<TodoItem>>(response.Content.ReadAsStringAsync().Result);
        }
    }

    public async Task AddTodoItem()
    {
        if (!string.IsNullOrWhiteSpace(NewTodoTitleInput))
        {
            await client.PostAsJsonAsync(Constants.ApiRoutes.TodoItem, new TodoItem { Title = NewTodoTitleInput, Description = "Click here to add a descripton!", Status = "New" });
            await GetTodoItems();
            NewTodoTitleInput = string.Empty;
        }
    }

    public async Task FilterByTaskStatus()
    {
        await GetTodoItems();
        if(SelectedTaskStatusFilter != "None")
        {
            TodoItems = TodoItems.Where(x => x.Status == SelectedTaskStatusFilter).ToList();
        }
    }
}
