@page "/projects"
@attribute [Authorize]
@inject HttpClient client

<div class="row justify-content-center">
    <p class="h1">Projects</p>
</div>
<div class="row">
    <div class="col-lg-4">
        <input type="text" class="form-control mb-3" placeholder="Enter a new project" />
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-lg-9">
    <ProjectItemBox />
    </div>
</div>

@code {

    private string NewProjectTitle;


}
